@use "../base/variables";
@use "../base/mixins";

.hero {
    width: 100%;
    display: flex;
    align-items: center;
    gap: var(--gutter-desktop);
    padding-top: 0 !important;
    @include mixins.tablet {
        flex-direction: column;
        gap: var(--gutter-tablet);
    }
    @include mixins.mobile {
        flex-direction: column;
        gap: var(--gutter-mobile);
    }
    @include mixins.xs {
        flex-direction: column;
        gap: var(--gutter-mobile);
    }
    &__inner {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: var(--gap-desktop);
        @include mixins.tablet {
            gap: var(--gap-tablet);
        }
        @include mixins.mobile {
            gap: var(--gap-mobile);
        }
        @include mixins.xs {
            gap: var(--gap-mobile);
        }
        &--visual {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 700px;
            overflow: hidden;
            @include mixins.tablet {
                width: 100%;
                min-height: 650px;
            }
            @include mixins.mobile {
                width: 100%;
                min-height: 450px;
            }
            @include mixins.xs {
                width: 100%;
                min-height: 350px;
            }
        }
        &-img {
            &-main {
                object-fit: contain;
                aspect-ratio: 1/1;
                position: relative;
                margin-top: auto;
                z-index: 2;
            }
        }
    }
    &__header {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
    &__subtitle {
        @include mixins.h4;
        & {
            color: var(--color-accent-primary);
        }
    }
    &__title {
        @include mixins.h1;
    }
    &__desc {
        @include mixins.body-1;
    }
    &__btns {
        display: flex;
        gap: var(--gap-tablet);
        @include mixins.tablet {
            width: 100%;
        }
        @include mixins.mobile {
            width: 100%;
        }
    }
    &__btn {
        @include mixins.button;
        &.primary {
            @include mixins.btn-primary;
            @include mixins.mobile {
                flex-shrink: 1;
            }
            @include mixins.xs {
                flex-shrink: 1;
            }
        }
        &.ghost {
            @include mixins.btn-ghost;
            @include mixins.mobile {
                width: max-content;
                & span {
                    display: none;
                }
            }
            @include mixins.xs {
                width: max-content;
                & span {
                    display: none;
                }
            }
        }
        &-icon {
            @include mixins.icon;
        }
    }
}
