@use "../base/variables";
@use "../base/mixins";

.testimonials {
    display: flex;
    align-items: flex-start;
    gap: var(--gap-desktop);
    @media (min-width: 768px) and (max-width: 991.9px) {
        flex-direction: column;
        gap: var(--gap-desktop);
    }
    @include mixins.mobile {
        flex-direction: column;
        gap: var(--gap-mobile);
    }
    @include mixins.xs {
        flex-direction: column;
        gap: var(--gap-mobile);
    }
    &__header {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
    &__subtitle {
        @include mixins.caption;
    }
    &__title {
        @include mixins.h2;
    }
    &__slider {
        width: 100%;
        flex: 1;
        display: inline-flex;
        justify-content: flex-end;
        align-items: center;
        gap: var(--gap-tablet);
        @include mixins.tablet {
            align-items: center;
            justify-content: center;
        }
        @include mixins.mobile {
            gap: 0;
            align-items: center;
            justify-content: center;
        }
        @include mixins.xs {
            gap: 0;
            align-items: center;
            justify-content: center;
        }
    }
    &__nav {
        width: 24px;
        height: max-content;
        display: flex;
        flex-direction: column;
        gap: 16px;
        @include mixins.mobile {
            display: none;
        }
        @include mixins.xs {
            display: none;
        }
    }
    &__prev {
        @include mixins.icon;
        &:disabled {
            opacity: 0.3;
            cursor: not-allowed;
        }
        & .testimonials__icon {
            transform: rotate(180deg);
        }
    }
    &__next {
        @include mixins.icon;
        &:disabled {
            opacity: 0.3;
            cursor: not-allowed;
        }
    }
    &__icon {
        @include mixins.icon;
    }
    &__gallery {
        width: 100%;
        height: max-content;
        display: flex;
        align-items: center;
        justify-content: center;
        &-inner {
            width: max-content;
            height: max-content;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 40px 60px 60px 40px;
            position: relative;
            overflow: hidden;
            @include mixins.tablet {
                padding: 24px 30px 40px 24px;
            }
            @include mixins.mobile {
                padding: 24px 30px 40px 24px;
            }
            @include mixins.xs {
                padding: 24px 30px 40px 24px;
            }
        }
    }
}