/* CSS VARIABLES */
@use "base/reset";
@use "base/variables";
@use "base/mixins";
@use "base/typography";
@use "base/scrollbar";

@use "components/logo";
@use "components/nav";
@use "components/select";
@use "components/button";
@use "components/burger";
@use "components/mobile-menu";

@use "layout/header";
@use "layout/footer";

[hidden] {
    display: none;
}

body {
    background: var(--color-neutral-50);
}

.section {
    padding: var(--section-padding-desktop) 0;
    margin: 0 var(--section-margin-desktop);
    @include mixins.tablet {
        padding: var(--section-padding-tablet) 0;
        margin: 0 var(--section-margin-tablet);
    }
    @include mixins.mobile {
        padding: var(--section-padding-mobile) 0;
        margin: 0 var(--section-margin-mobile);
    }
    @include mixins.xs {
        padding: var(--section-padding-mobile) 0;
        margin: 0 var(--section-margin-mobile);
    }
}
