/* CSS VARIABLES */
@use "base/reset";
@use "base/variables";
@use "base/mixins";
@use "base/typography";
@use "base/scrollbar";

@use "components/logo";
@use "components/nav";
@use "components/select";
@use "components/button";
@use "components/burger";
@use "components/mobile-menu";
@use "components/destination-card";
@use "components/trip-card";
@use "components/progress-card";
@use "components/testimonial";
@use "components/ticker";
@use "components/subscribe";
@use "components/footer-menu";
@use "components/footer-social";
@use "components/copyright";
@use "components/modal";

@use "layout/header";
@use "layout/hero";
@use "layout/offer";
@use "layout/tours";
@use "layout/plan";
@use "layout/testimonials";
@use "layout/cta";
@use "layout/footer";

[hidden] {
    display: none;
}

html {
    scroll-behavior: smooth;
}

body {
    background: var(--color-neutral-50);
}

.section {
    padding: var(--section-padding-desktop) var(--section-margin-desktop);
    @include mixins.tablet {
        padding: var(--section-padding-tablet) var(--section-margin-tablet);
    }
    @include mixins.mobile {
        padding: var(--section-padding-mobile) var(--section-margin-mobile);
    }
    @include mixins.xs {
        padding: var(--section-padding-mobile) var(--section-margin-mobile);
    }
}
