@use "../base/variables";
@use "../base/mixins";

.footer-menu {
    &__group {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 12px;
        @include mixins.mobile {
            flex: 1 1 calc(50% - var(--gap-mobile));
        }
        @include mixins.xs {
            flex: 1 1 calc(50% - var(--gap-mobile));
        }
    }
    &__title {
        @include mixins.h4;
    }
    &__list {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 4px;
    }
    &__item {
        width: 100%;
    }
    &__link {
        @include mixins.nav-footer-link;
    }
}