@use "../base/variables";
@use "../base/mixins";

.logo {
    @include mixins.logo;

    @include mixins.mobile {
        padding: 4px 0;
    }

    @include mixins.xs {
        padding: 4px 0;
    }
}
