@use "../base/variables";
@use "../base/mixins";

.subscribe {
    display: flex;
    align-items: center;
    gap: var(--gap-desktop);
    @include mixins.tablet {
        gap: var(--gap-tablet);
    }
    @include mixins.mobile {
        gap: var(--gap-mobile);
    }
    @include mixins.xs {
        gap: var(--gap-mobile);
    }
    &__label {
        @include mixins.btn-label;
        @include mixins.visually-hidden;
    }
    &__controls {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: var(--gap-desktop);
        position: relative;
        @include mixins.tablet {
            gap: var(--gap-tablet);
        }
        @include mixins.mobile {
            gap: var(--gap-mobile);
            flex-direction: column;
        }
        @include mixins.xs {
            gap: var(--gap-mobile);
            flex-direction: column;
        }
    }
    &__input {
        @include mixins.input;
        & {
            width: 100%;
        }
        &-wrap {
            width: 100%;
            position: relative;
            flex: 1;
            z-index: 0;

            &:before {
                content: "";
                position: absolute;
                left: 16px;
                top: 50%;
                transform: translateY(-50%);
                width: 20px;
                height: 20px;
                background: url("./../img/icons/mail.svg") no-repeat center / contain;
                pointer-events: none;
                z-index: 3;
            }
        }
    }
    &__btn {
        @include mixins.button;
        @include mixins.btn-primary;
    }
}
