@use "../base/variables";
@use "../base/mixins";

.tricker {
    filter: grayscale(1) opacity(0.5);
    padding: var(--section-padding-desktop) 0;
    @include mixins.tablet {
        padding: var(--section-padding-tablet) 0;
    }
    @include mixins.mobile {
        padding: var(--section-padding-mobile) 0;
    }
    @include mixins.xs {
        padding: var(--section-padding-mobile) 0;
    }
    &__inner {
        width: 100%;
        display: flex;
        align-items: center;
        overflow: hidden;
        position: relative;
        margin-right: var(--gap-desktop);
        @include mixins.tablet {
            margin-right: var(--gap-tablet);
        }
        @include mixins.mobile {
            margin-right: var(--gap-mobile);
        }
        @include mixins.xs {
            margin-right: var(--gap-mobile);
        }
    }
    &__content {
        flex: 0 0 auto;
        will-change: transform;
        animation: tricker 15s linear infinite;
    }
    &__list {
        display: flex;
        align-items: center;
    }
    &__logo {
        width: 190px;
        height: 60px;
        margin-right: var(--gap-desktop);
        @include mixins.tablet {
            margin-right: var(--gap-tablet);
        }
        @include mixins.mobile {
            margin-right: var(--gap-mobile);
        }
        @include mixins.xs {
            margin-right: var(--gap-mobile);
        }
    }
    &__img {
        width: 190px;
        height: 60px;
        object-fit: contain;
    }
}

@keyframes tricker {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}