@use "../base/variables";
@use "../base/mixins";

.footer {
    display: flex;
    flex-direction: column;
    gap: var(--gutter-desktop);
    @include mixins.tablet {
        gap: var(--gutter-tablet);
    }
    @include mixins.mobile {
        gap: var(--gutter-mobile);
    }
    @include mixins.xs {
        gap: var(--gutter-mobile);
    }
    &__top {
        display: grid;
        grid-template-columns: 277px 1fr 277px;
        grid-template-areas: "brand menu social";
        gap: var(--gutter-desktop);
        @include mixins.tablet {
            grid-template-columns: 277px 1fr;
            grid-template-areas:
                "brand social"
                "menu menu";
            gap: var(--gutter-tablet);
        }
        @include mixins.mobile {
            grid-template-columns: 1fr;
            grid-template-areas:
                "brand"
                "menu"
                "social";
            gap: var(--gutter-mobile);
        }
        @include mixins.xs {
            grid-template-columns: 1fr;
            grid-template-areas:
                "brand"
                "menu"
                "social";
            gap: var(--gutter-mobile);
        }
    }
    &__col {
        &--brand {
            grid-area: brand;
            display: flex;
            flex-direction: column;
            gap: var(--gap-desktop);
            @include mixins.tablet {
                gap: var(--gap-tablet);
            }
            @include mixins.mobile {
                gap: var(--gap-mobile);
            }
            @include mixins.xs {
                gap: var(--gap-mobile);
            }
        }
        &--menu {
            grid-area: menu;
            display: flex;
            align-items: flex-start;
            gap: var(--gap-desktop);
            @include mixins.desktop {
                grid-area: 2;
            }
            @include mixins.tablet {
                gap: var(--gap-tablet);
            }
            @include mixins.mobile {
                flex-wrap: wrap;
                gap: var(--gap-mobile);
            }
            @include mixins.xs {
                flex-wrap: wrap;
                gap: var(--gap-mobile);
            }
        }
        &--social {
            grid-area: social;
            display: flex;
            flex-direction: column;
            gap: var(--gutter-desktop);
            @include mixins.tablet {
                gap: var(--gutter-tablet);
            }
            @include mixins.mobile {
                gap: var(--gutter-mobile);
            }
            @include mixins.xs {
                gap: var(--gutter-mobile);
            }
        }
    }
    &__desc {
        @include mixins.body-2;
        & {
            color: var(--color-neutral-700);
        }
    }
}