@use "../base/variables";
@use "../base/mixins";

.offer {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    &__header {
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
    &__subtitle {
        @include mixins.caption;
    }
    &__title {
        @include mixins.h2;
    }
    &__list {
        display: flex;
        gap: var(--gap-desktop);
        @media (min-width: 768px) and (max-width: 991.9px) {
            flex-wrap: wrap;
            gap: var(--gap-tablet);
        }
        @include mixins.mobile {
            flex-wrap: wrap;
            gap: var(--gap-mobile);
        }
        @include mixins.xs {
            flex-wrap: wrap;
            gap: var(--gap-mobile);
        }
    }
    &__item {
        flex: 1 1 calc(100% / 4 - var(--gap-desktop));
        @media (min-width: 768px) and (max-width: 991.9px) {
            flex: 1 1 calc(100% / 2 - var(--gap-tablet));
        }
        @include mixins.mobile {
            flex: 1 1 calc(100% / 2 - var(--gap-tablet));
        }
        @include mixins.xs {
            flex: 1 1 100%;
        }
    }
}
