@use "../base/variables";
@use "../base/mixins";

.destination-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--card-padding-desktop);
    gap: var(--gap-desktop);
    background: var(--color-neutral-50);
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.06);
    border-radius: var(--radius-lg);
    @media (min-width: 768px) and (max-width: 991.9px) {
        padding: var(--card-padding-tablet);
        gap: var(--gap-tablet);
        border-radius: var(--radius-md);
    }
    @include mixins.mobile {
        padding: var(--card-padding-mobile);
        gap: var(--gap-mobile);
        border-radius: var(--radius-sm);
    }
    @include mixins.xs {
        padding: var(--card-padding-mobile);
        gap: var(--gap-mobile);
        border-radius: var(--radius-sm);
    }
    &__icon {
        width: 64px;
        min-width: 64px;
        max-width: 64px;
        height: 64px;
        min-height: 64px;
        max-height: 64px;
        border-radius: 12px;
        aspect-ratio: 1/1;
        @include mixins.tablet {
            width: 56px;
            min-width: 56px;
            max-width: 56px;
            height: 56px;
            min-height: 56px;
            max-height: 56px;
        }
        @include mixins.mobile {
            width: 48px;
            min-width: 48px;
            max-width: 48px;
            height: 48px;
            min-height: 48px;
            max-height: 48px;
        }
        @include mixins.xs {
            width: 48px;
            min-width: 48px;
            max-width: 48px;
            height: 48px;
            min-height: 48px;
            max-height: 48px;
        }
    }
    &__title {
        text-align: center;
        @include mixins.h3;
    }
    &__desc {
        text-align: center;
        @include mixins.body-2;
    }
}
