@use "../base/variables";
@use "../base/mixins";

.lang-select {
    width: 100%;
    max-width: 80px;
    min-width: 80px;
    position: relative;
    position: relative;
    -webkit-tap-highlight-color: transparent;
    &__toggle {
        @include mixins.select;
    }
    &__list {
        @include mixins.droplist;
    }
    &__option {
        @include mixins.option;
    }
}
